@import url("https://fonts.googleapis.com/css2?family=Baloo+Paaji+2:wght@400;700&family=Roboto:wght@100;200;300&display=swap");

* {
  box-sizing: border-box;
  position: relative;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: "Baloo Paaji 2", sans-serif;
  /* font-family: "Roboto", sans-serif;  */
  background-color: #1e90ff;
  color: #ffffff;
}
.title {
  color: #ffe221;
}
a {
  color: black;
  text-decoration: none;
}

img {
  width: 100%;
}
/* preview projects */
.preview-project {
  background-color: #d30bb881;
  border-bottom: 4px solid rgba(0, 0, 0, 0.3);
  border-right: 4px solid rgba(0, 0, 0, 0.3);
}
.preview-project:hover {
  cursor: pointer;
  color: #ffe221;
}
.preview-project h3 {
  font-style: "Roboto";
  font-weight: 100;
  font-size: 24px;
  text-align: center;
  padding: 0;
  margin: 10px 0;
}
.preview-project img {
  object-fit: cover;
  width: 100%;
  height: 300px;
}
