.container {
  /* height: 100vh; */
  width: 100%;
  display: block;
}

.main {
  margin: 100px 0;
}
.main h1 {
  margin: 5px;
  padding: 0;
  font-size: 60px;
  text-align: center;
  line-height: 70px;
}
.main h1:nth-child(1) {
  /* font-style: italic; */
  /* color: transparent; */
  text-transform: uppercase;
  -webkit-text-stroke: 2px white;
}
.yellow {
  color: #ffe221;
}
/* navigation */
/* .navigation {
  display: flex;
  justify-content: space-around;
  margin-top: 70px;
} */
.navigation{
  display: flex;
  margin:0 auto;
  flex-direction: column;
  align-items: center;
  row-gap: 30px;
}
.navigation a {
  font-size: 18px;
  padding: 10px 14px;
  background-color: white;
  border-radius: 5px;
  width: 50%;
  text-align: center;
  /* transition: all 0.3s linear; */
}
.navigation a:hover{
  background-color: rgba(255, 255, 255, 0.906);
}
@media only screen and (min-width: 600px) {
  .main {
    margin: 70px 0;
  }
  .main h1 {
    font-size: 100px;
    line-height: 120px;
  }
  .navigation {
    flex-direction: row;
    justify-content: space-around;
    margin-top: 70px;
  }
  .navigation a {
  width: auto;
    padding: 12px 30px;
    font-size: 23px;
  }
}
