.container {
  display: grid;
  padding: 2rem;
}
.container > div {
  min-height: 300px;
}
.container a {
  padding: 10px 20px;
  background-color: white;
  border-radius: 3px;
}
.container h1 {
  font-size: 3rem;
  margin: 0;
  padding: 0;
}
.container h3 {
  margin: 0;
  padding: 0;
}
.container p {
  font-size: 25px;
  font-family: "Roboto";
  padding: 8px;
  line-height: 40px;
  margin: 0;
}
.title {
  color: #ffe221;
}

@media only screen and (min-width: 700px) {
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 40px;
    padding: 5rem;
  }
}
