.main {
  padding: 3rem;
}
.main a {
  background-color: black;
  color: white;
  display: block;
  margin: 20px;
  padding: 12px 15px;
  text-align: center;
  font-size: 23px;
}
.container {
  display: grid;
  row-gap: 50px;
}
@media only screen and (min-width: 700px) {
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 40px;
  }
}
@media only screen and (min-width: 1000px) {
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
